* {
    box-sizing: border-box;
}
body {
  background-color: #5593B2;
  font-family: 'Montserrat', sans-serif;
}
h1,h2 {
  color:#FF9919;
}
.initial-header{
  font-size: 40px;
  margin-top: 40px;
}
.quiz-questions{
margin-block-start: 1em;
padding-inline-start: 0px;

}

.green{
  color:#97FFAA;
}
.image-centered{
  display: block;
    margin-left: auto;
    margin-right: auto
}
.container {
display: block;
width: 90%;
text-align: center;
margin: auto;
}
.choice {
  width:150px;
  height:150px;
}

.go-button{
  font-size: 33px;
  font:
}

button.start  {
  margin-top: 100px;
  border-radius: 50%;
  height:400px;
  width:400px;
  border:none;
}


button.choice:hover{
  background:#FFD16C;
  height:200px;
  width:200px;
}

.img-end-screen{
  margin-right: auto;
  margin-left: auto;
  display: block;
  margin-top: 80px;
  width: 40%;

}
.image-centered-cross {
  display:none;
  margin-right: auto;
  margin-left: auto;
}
.image-centered-check {
  display:none;
  margin-right: auto;
  margin-left: auto;
}
.no-pass-header{
  margin-left: auto;
  display: block;
  margin-top: 50px;
  text-align: center;
  }

.checkmark {
display: block;
width:150px;
margin-bottom:20px;

}
.cross {
display: block;
width:150px;
margin-bottom:20px;
}
.question{
  font-family: 'Montserrat', sans-serif;
  font-size: 20px;
  color:white;
  list-style: none;
  padding: 10px;
  -webkit-padding-start: 0px;
  background:#FFA96B
}

.flexContainer {
    display: flex;
    width:100%;
}

.Option {

}

@media only screen and (max-width: 600px) {
  button.start {
    height:200px;
    width:200px;
  }
}
