* {
    box-sizing: border-box;
}
body {
  background-color: #5593B2;
  font-family: 'Montserrat', sans-serif;
}
h1,h2 {
  color:#FF9919;
}
.initial-header{
  font-size: 40px;
  margin-top: 40px;
}
.quiz-questions{
margin-block-start: 1em;
-webkit-padding-start: 0px;

}
.instructions{
  color:#e6e659;
}
.green{
  color:#97FFAA;
  margin-top:10px;
}
.image-centered{
  display: block;
    margin-left: auto;
    margin-right: auto
}
.container {
display: block;
width: 90%;
text-align: center;
margin: auto;
}
.choice {
  width:150px;
  height:150px;

}

.choiceA{
  background-image: url("../images/OptionA.png")
}
.choiceB{
  background-image: url("../images/OptionB.png")
}
.choiceC {
  background-image: url("../images/OptionC.png")
}
.choiceD {
  background-image: url("../images/OptionD.png")
}
.go-button{
  font-size: 33px;
  font:
}
button.start  {
  margin-top: 100px;
  border-radius: 50%;
  height:400px;
  width:400px;
  border:none;
}
.img-end-screen{
  margin-right: auto;
  margin-left: auto;
  display: block;
  margin-top: 80px;
  width: 40%;

}
.image-centered-cross {
  display:none;
  margin-right: auto;
  margin-left: auto;
}
.image-centered-check {
  display:none;
  margin-right: auto;
  margin-left: auto;
}
.no-pass-header{
  margin-left: auto;
  display: block;
  margin-top: 50px;
  text-align: center;
  }

.checkmark {
display: block;
width:150px;
margin-bottom:20px;

}
.cross {
display: block;
width:150px;
margin-bottom:20px;
margin-top: 200px;
}
.question{
  font-family: 'Montserrat', sans-serif;
  font-size: 20px;
  color:white;
  list-style: none;
  padding: 10px;
  -webkit-padding-start: 0px;
  background:#FFA96B;
  width: 70%;
  margin: auto;
}

.answer{
  font-family: 'Montserrat', sans-serif;
  font-size: 20px;
  color:white;
  list-style: none;
  padding: 10px;
  -webkit-padding-start: 0px;
  background:grey;
  width: 70%;
  margin: auto;
}
.flexContainer {
    display: flex;
    width:100%;
}
.score-header{
  text-align: center;
}

#overlay {
  position: fixed;
  display: none;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.9);
  z-index: 2;
  cursor: pointer;
}
.message-wrong-answer{
  display:none;
}
.show-it{
  display:block;
}
.mobile-submit{
  margin-top: 20px;
  width: 150px;
  height: 30px;
  padding: 5px;
  background-color: #f9f766;
  border: none;
  border-radius: 5px;
}
.mobile-answer-choice-div{
  margin-left: auto;
  margin-right: auto;
  margin-top: 40px;
  height: 80px;
  background-color: darkseagreen;
  border-radius: 7px;
  width: 70%;
}

.mobile-label-answer{
  display:block;
  padding:10px
}

@media only screen and (max-width: 600px) {
  button.start {
    height:200px;
    width:200px;
  }
}
@media only screen and (max-width: 400px) {
  .instructions{
    display:none;
  }
}

/* Mobile devices only */
@media only screen and (max-width: 600px) {

}
